@font-face {
  font-family: "Norse Bold";
  src: url(./fonts/Norsebold.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  font-family: Roboto, sans-serif;
}

.container-one {
  width: 30%;
  background-image: url(./images/bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-family: "Norse Bold", sans-serif;
  font-size: 32px;
  color: white;
  padding: 10px 0px;
  position: absolute;
  top: 20%;
  background-color: transparent;
  backdrop-filter: brightness(40%);
}

.credits {
  position: absolute;
  bottom: 15px;
  color: white;
}

.credits a {
  color: white;
}
